extends base.pug

block title
  title Error - Hex Game

block body
  .centered.menu
    h1= error
    a.button.block.borderless(href='/')
      i.mi arrow_back
      .text Back to lobby

  .footer
    a(href='https://antnf.com') @Anthony Fu
