doctype html
html
  head
    title Set Game
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/static/style/index.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='/static/favicon.png')
  body
    .centered.menu
      h1 HEX
      a.button.block.borderless(href='/a')
        i.mi pin_drop
        .text Local Multiplayer
      a.button.block.borderless(href='/a')
        i.mi people
        .text Online Multiplayer
      a.button.block.borderless(href='/help')
        i.mi help
        .text How to play

    .footer
      a(href='https://antnf.com') @Anthony Fu
