extends base.pug

block body
  .centered.menu
    h1 HEX
    a.button.block.borderless(href='/local')
      i.mi pin_drop
      .text Local Multiplayer
    a.button.block.borderless(href='/online')
      i.mi people
      .text Online Multiplayer
    a.button.block.borderless(href='/help')
      i.mi help
      .text How to play

  .footer
    a(href='https://antnf.com') @Anthony Fu
