extends base.pug

block body
  //(onmousemove="mouse_position(event)")
  #app(:style="{background:colors.background}")
    .scaler(:style="{width:86.6*(width+height/2)*scale+'px', height:75*height*scale+'px'}", :class="{disabled:disabled}")
      svg.board(:style='{"transform":"scale("+scale+","+scale+")"}')
        defs
          lineargradient#gradient1
            stop(offset='49%', :stop-color='colors.a')
            stop(offset='51%', :stop-color='colors.b')
          lineargradient#gradient2
            stop(offset='49%', :stop-color='colors.b')
            stop(offset='51%', :stop-color='colors.a')
          lineargradient#gradient3(x1="0",x2="0",y1="0",y2="1")
            stop(offset='49%', :stop-color='colors.a')
            stop(offset='51%', :stop-color='colors.b')
          lineargradient#gradient4(x1="0",x2="0",y1="0",y2="1")
            stop(offset='49%', :stop-color='colors.b')
            stop(offset='51%', :stop-color='colors.a')
        template(v-for="(row,q) in chess")
          template(v-for="(c,r) in row")
            g.hex(:transform='"translate("+43.3*(q*2+r)+","+75*r+")"', @click='click(q,r)', :class="{disabled:c.state}")
              polygon(points='50,0 25,43.3 -25,43.3 -50,0 -25,-43.3 25,-43.3', :style="{fill:get_color(c.state)}", transform='rotate(-150)')
              text(v-if='c.text || c === prev', :style='{fill:colors.text}') {{c.text || 'Hi'}}

    .toolbar
      .title {{local?'Local Mode':'Online Mode'}}
      .mi(@click='fullscreen') zoom_out_map
      .mi(@click='change_theme') color_lens
      .mi(v-if='local', @click='init') change_history
      .mi(v-if='!local', @dblclick='restart') change_history
      .mi(v-if='!local && !connected', @click='connect') refresh
      .mi(v-if='!local && connected && players_amount') {{players_amount==2?'people':'person'}}

    svg.current
      g.hex(transform='translate(43.3, 50)')
        polygon(points='50,0 25,43.3 -25,43.3 -50,0 -25,-43.3 25,-43.3', :style="{fill:get_color(current)}", transform='rotate(-150)')
        text(v-if='!local && your == current') You

    .cursor#cursor
      svg
        g.hex(transform='translate(43.3, 50)')
          polygon(points='50,0 25,43.3 -25,43.3 -50,0 -25,-43.3 25,-43.3', :style="{fill:get_color(current)}", transform='rotate(-150)')
          text(v-if='!local && your == current') You

  script(src='/static/dist/vue.min.js')
  script(src='/static/scripts/utils.js')
  script(src='/static/scripts/app.js')
  block mode
