.scaler {
  padding: 50px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transition: .3s ease-in-out;
  transform: perspective(1px) translateY(-50%);

  &.disabled {
    opacity: .1;
    pointer-events: none;
  }
}

svg.board {
  display: block;
  overflow: visible;
  transform-origin: top left;
}

g.hex {
  pointer-events: visiblePainted;
  transition: .2s ease-in-out;
  opacity: .9;

  polygon {
    fill: #f4f4f1;
    stroke: #c7c7c7;
    stroke-width: 1;
    transition: .2s ease-in-out;
  }

  text {
    font-size: 20px;
    text-anchor: middle;
    transform: translate(0,7px);
  }

  &.disabled,
  &:hover {
    opacity: 1;
  }
}

svg.current {
  position: fixed;
  height: 100px;
  width: 86.6px;
  bottom: 30px;
  right: 30px;
  overflow: visible;

  polygon {
    stroke: #444;
    stroke-width: 3px;
    transition: .2s ease-in-out;
  }
}

.cursor {
  position: absolute;
  top: -1000px;
  left: -1000px;

  svg {
    transform-origin: left top;
    transform: scale(0.3,0.3);
    opacity: 1;

    polygon {
      stroke: #5e5e5e;
      stroke-width: 2;
    }
  }
}
